<div>
	<h1 *ngIf="!isEdit">Add Book</h1>
	<h1 *ngIf="isEdit">Edit Book</h1>
	<form #addEditBookForm="ngForm" (ngSubmit)="SaveBook()">
		<div class="form-group">
			<label for="bookName">Name</label>
			<input type="text" 
				class="form-control" 
				id="bookName" 
				name="name" 
				placeholder="Enter Name" 
				maxlength="50" 
				required 
				[(ngModel)]="bookForAddEdit.Name">
		</div>
		<div class="form-group">
			<label for="bookAuthor">Author</label>
			<input type="text" 
				class="form-control" 
				id="bookAuthor"
				name="author" 
				placeholder="Enter Author"
				maxlength="50"
				required 
				[(ngModel)]="bookForAddEdit.Author">
		</div>
		<button type="submit" class="btn btn-primary add-edit-button" [disabled]="isEdit ? isBookPristine() || !addEditBookForm.valid : !addEditBookForm.valid">SAVE</button>
		<button type="button" class="btn btn-danger add-edit-button" (click)="cancelAddEdit()">CANCEL</button>
	</form>
</div>
